

    <div class="links">
        <ul>
           <li>@Html.ActionLink("Home", "Index", "Home")</li>
        @*<li>@Html.ActionLink("Users", "UserIndex", "CRUD") </li>*@
           <li>@Html.ActionLink("Charities", "CharityIndex", "CRUD")</li>
           <li>@Html.ActionLink("BV Locations", "LocationIndex", "CRUD") </li>
           <li>@Html.ActionLink("Partnership Nights", "PartnershipNightIndex", "CRUD") </li>
           <li>@Html.ActionLink("Calculator Forms", "Index", "Form") </li>

           @*<li>@Html.ActionLink("Calculator", "Calculator", "Home") </li>*@
           <li>@Html.ActionLink("Documents", "Documents", "Home") </li>
            <li>@Html.ActionLink("Calendar", "FullCalendar", "Home")</li>
        </ul>
    </div>



