@model Capstone.WebUI.Models.PartnershipNightVM
@{
    if(TempData["Title"] == null)
    { 
        ViewBag.Title = "Add";
    }
    else
    { 
        ViewBag.Title = TempData["Title"];
    }
}

<h1> @TempData["Title"] </h1>

<!-- Commenting out but add these back in when I have time to match the list item names to the id: Charity: Model.Charity.Name <br /> Store#: Model.BVLocation.BvStoreNum -->



@using (Html.BeginForm("PartnershipNightEdit", "CRUD"))
{
    <div class="form-group">
        @Html.Label("CheckRequestFinished")
        <div class="col-md-10">
            @Html.EditorFor(x => x.CheckRequestFinished)
        </div>
    </div>

    <div class="form-group">
        @Html.Label("BeforeTheEventFinished")
        <div class="col-md-10">
            @Html.EditorFor(x => x.BeforeTheEventFinished)
        </div>
    </div>

    <div class="form-group">
        @Html.Label("AfterTheEventFinished")
        <div class="col-md-10">
            @Html.EditorFor(x => x.AfterTheEventFinished)
        </div>
    </div>

    <div class="form-group">
        @Html.Label("StartDate")
        <div class="col-md-10">
            @Html.EditorFor(x => x.StartDate)
        </div>
    </div>

    <div class="form-group">
        @Html.Label("EndDate")
        <div class="col-md-10">
            @Html.EditorFor(x => x.EndDate)
        </div>
    </div>

    <div class="form-group">
        @Html.Label("CheckRequestId")
        <div class="col-md-10">
            @Html.EditorFor(x => x.CheckRequestId)
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Comments")
        <div class="col-md-10">
            @Html.EditorFor(x => x.Comments)
        </div>
    </div>
           
                if (Model.BvLocations != null)
                {
                     @Html.DropDownListFor(m => m.BvLocationId, new SelectList(Model.BvLocations, "BvLocationId", "BvStoreNum"));
                     @Html.HiddenFor(x => x.BvLocationId);
                }
                else
                {
                    @Html.Label("None")
                }
            

            
                if (Model.Charities != null)
                {
                     @Html.DropDownListFor(m => m.CharityId, new SelectList(Model.Charities, "CharityId", "Name")); 
                     @Html.HiddenFor(x => x.CharityId);
                }
                else
                {
                    @Html.Label("None")
                }
            
    <input type="submit" value="Save" />
    @Html.ActionLink("Cancel and return to List", "PartnershipNightIndex")
}